<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Compiler</title>
</head>
<body>

    <div class="container1">

        <label id='h1'>Type Your Code Here...</label>

        <select id="dropdown" class="form-select" aria-label="Default select example">

            <option value="default" selected disabled>Select a Language</option>
            <option value="c">C</option>
            <option value="cpp">C++</option>
            <option value="java">Java</option>
            <option value="py">Python</option>

        </select> <br>
        
        <textarea id='codeArea'></textarea> <br>
        
        <button type="button" id='button' class="btn btn-primary btn-warning">Compile</button> <br>

        <div id="outputArea">

            <label>Output:</label>

        </div>
    </div>
    
    <script src='script.js'></script>
</body>
</html>